.app-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 1280px;
    height: 100%;
    background: #f7f7f7;
    margin: 0 auto;
}
.app-content {
    max-width: 1000px;
    height: 800px;
    margin: auto;
    background: rgb(185, 185, 185);
}
.app-main {
    width: 100%;
}